Product Version     25.10    Cadence Design Systems, Inc.
distributed_m...to_redirection(25.10)    distributed_m...to_redirection(25.10)

Name
       distributed_mmmc_disable_reports_auto_redirection

Syntax
       distributed_mmmc_disable_reports_auto_redirection

       {true | false}

       Default: false

       Allows reports to be generated in the specified location.

       When set to true, the software does not allow the reports for different
       views  to get overwritten. When set to false, the reports are generated
       automatically in the DMMMC view directory structure.

       To set this global variable, use the set command.

                           Fri Apr 04 01:2d5i:s3t7ri2b0u2t5ed_m...to_redirection(25.10)