Product Version     25.10    Cadence Design Systems, Inc.
timing_spatia..._distance_mode(25.10)    timing_spatia..._distance_mode(25.10)

Name
       timing_spatial_derate_distance_mode

Syntax
       timing_spatial_derate_distance_mode

       {bounding_box | chip_size}

       Default: bounding_box

       Allows  you  to select the graph-based analysis (GBA) spatial mode. The
       allowed values are - bounding_box or chip_size.

       This global variable can be used when the spatial derate  mode  is  en-
       abled using timing_enable_spatial_derate_mode true setting.

       To set this global variable, use the set command.

                           Fri Apr 04 01:2t5i:m3i7ng2_0s2p5atia..._distance_mode(25.10)