Product Version     25.10    Cadence Design Systems, Inc.
writeFlowTemplate(25.10)                              writeFlowTemplate(25.10)

Name
       writeFlowTemplate  - Copies the Innovus Foundation flows templates into
       the directory you specify, or to the current directory if  you  do  not
       specify one with the -directory parameter

Syntax
       writeFlowTemplate

       -help

       [-directory <directory_name>]

       Copies  the  Innovus  Foundation flows templates into the directory you
       specify, or to the current directory if you do not specify one with the
       -directory parameter.

Parameters
       -help  Outputs a brief description that includes type and  default  in-
              formation  for  each writeFlowTemplate parameter. For a detailed
              description of the command and all of its  parameters,  use  the
              man command:  man writeFlowTemplate

       -directory <directory_name>
              Specifies the directory in which to save the templates.

              Data_type: string, optional

                           Fri Apr 04 01:25:37 2025   writeFlowTemplate(25.10)