Product Version     25.10    Cadence Design Systems, Inc.
getDistributeHost(25.10)                              getDistributeHost(25.10)

Name
       getDistributeHost - Displays settings for the setDistributeHost command

Syntax
        getDistributeHost

       {-mode  |  -hosts | -queue | -resource | -custom_script | -env_script |
       -args | -single_cpu_lsf_args | -timeout |  -shellTimeout  |  -reportLs-
       fInfo <file> | -waitForLsfInfo <value>}

       [-help]

       Displays settings for the setDistributeHost command.

Parameters
       -args  Displays  the  additional arguments when the software is running
              in the Sun Grid Engine (SGE)  or  Load  Sharing  Facility  (LSF)
              mode.

       -custom_script
              Displays the name of the custom script when the software is run-
              ning in custom mode.

       -env_script
              Displays  the  user-defined shell environment script that is run
              for each of the slave hosts.

       -hosts Displays the list of host names when the software is running  in
              rsh mode.

       -help  Outputs the command usage and a brief description about the com-
              mand parameters.

       -mode  Displays  the  distributed  processing mode. The possible values
              are local, sge, rsh , ssh , lsf and custom.

              Default: local

       -queue Displays the queue name when the software is running in  sge  or
              lsf mode.

       -reportLsfInfo <file>
              Specifies  to restore the LSF information to the specified file.
              This parameter can only  be  used  when  setDistributeHost  -re-
              portLsfInfo is specified in the current session.

              You must specify the getDistributeHost -reportLsfInfo only after
              the  LSF  tasks exit to obtain the task CPU time. If you specify
              this command before the task exits, the command gives a  warning
              message.

       -resource
              Displays the resource string when the software is running in sge
              or lsf mode.

       -shellTimeout
              Displays  the  number  of  seconds  the  host  machine waits for
              rsh/ssh machines to become available for  multiple-CPU  process-
              ing.

       -single_cpu_lsf_args
              Displays  the  lsf arguments when the software is running in lsf
              mode for a single CPU application.

       -timeout
              Displays the default timeout for a submitted job that will never
              start.

       -waitForLsfInfo <value>
              Specifies the timeout period required to wait for task exit  and
              generate the LSF information.

Examples
              * The  following  command  displays  the current setting for the
                -mode parameter:

                getDistributeHost -mode

                 local

              *

                The following command saves the LSF information to the lsf.log
                file:

                getDistributeHost -reportLsfInfo lsf.log

Related Information
              * Accelerating the Design Process By Using Multiple-CPU Process-
                ing chapter in the Innovus User Guide.

              * "Tools Menu" chapter in the Innovus Menu Reference

                * Set Multiple CPU Usage

                           Fri Apr 04 01:25:37 2025   getDistributeHost(25.10)