Product Version     25.10    Cadence Design Systems, Inc.
timing_derate..._distance_unit(25.10)    timing_derate..._distance_unit(25.10)

Name
       timing_derate_spatial_distance_unit

Syntax
       timing_derate_spatial_distance_unit

       {default | 1um | 1nm}

       Default: default

       Specifies distance units in the SOCV and AOCV library formats.

       This global variable supports 3 distance units - default, 1um, and 1nm.
       The  default  value is the default units that are derived from the cur-
       rent system units for distance (um/nm overrides the default).

       To set this global variable, use the set command.

       Note: The timing_derate_spatial_distance_unit global variable should be
       set before a design is loaded.

                           Fri Apr 04 01:2t5i:m3i7ng2_0d2e5rate..._distance_unit(25.10)