env PAGER=cat man timing_enable_individual_distance_inter_die_anal ysis
Product Version     25.10    Cadence Design Systems, Inc.
timing_enable_...r_die_analysis(25.10)  timing_enable_...r_die_analysis(25.10)

Name
       timing_enable_individual_distance_inter_die_analysis

Syntax
       timing_enable_individual_distance_inter_die_analysis

       {true | false}

       Default: false

       Enables individual inter-die calculation in 3DIC analysis.

       To set this global variable, use the set command.

                           Fri Apr 04 01:t2i5m:i3n7g_2e0n2a5ble_...r_die_analysis(25.10)