{
  "command": "timing_spatial_derate_distance_mode",
  "is_cmd": false,
  "summary": "用于选择基于图的分析（GBA）空间模式。",
  "description": "该全局变量允许您选择图分析（GBA）的空间模式。允许的值为 bounding_box 或 chip_size。当通过 timing_enable_spatial_derate_mode true 设置启用空间降额模式时，可以使用此全局变量。要设置此全局变量，请使用 set 命令。",
  "usage": null,
  "options": null
}