{
  "command": "timing_derate_spatial_distance_unit",
  "is_cmd": false,
  "summary": "指定SOCV和AOCV库格式中的距离单位",
  "description": "此全局变量用于指定在SOCV（片上变化）和AOCV（片上变化分析）库格式中使用的距离单位。它支持三种单位：default（默认）、1um（微米）和1nm（纳米）。默认值是基于当前系统距离单位（微米或纳米）推导出的默认单位，而设置1um或1nm则会覆盖此默认值。请注意，应在加载设计之前设置此全局变量。",
  "usage": null,
  "options": null
}