{
  "command": "distributed_mmmc_disable_reports_auto_redirection",
  "is_cmd": false,
  "summary": "禁用分布式多模多角分析中报告的自动重定向",
  "description": "该全局变量控制分布式多模多角分析（DMMMC）中报告的生成位置。当设置为 true 时，软件不允许不同视图的报告被覆盖，报告将在指定位置生成。当设置为 false（默认值）时，报告会自动生成在 DMMMC 视图目录结构中。要设置此变量，需使用 set 命令。",
  "usage": null,
  "options": null
}